{% extends 'base/base.html' %}

{% block content %}

<span>Register</span>

<form method="post">
    {% csrf_token %}
    <label>{{form.username.label}}</label>
    {{form.username}}
    <label>{{form.password1.label}}</label>
    {{form.password1}}
    <label>{{form.password2.label}}</label>
    {{form.password2}}
    <div style="width: fit-content; margin: auto;">
        <input class="options" type="submit" value="Register" style="font-size: 18px;"/>
    </div>
    
</form>
<p>
    DISCLAIMER: registering from here directly adds you as a simple User and you can only view the Vehicles.
    For further functionality you need a higher privilege account that only the admin can address.
</p>
<p>
    Already have an account? <a href="{% url 'login' %}">Login</a>
</p>

{% endblock content %}