{% extends 'base/base.html' %}

{% block content %}
<dl>
    <dt>Vehicle Number:</dt>
    <dd>{{ vehicle.vehicle_number }}</dd>

    <dt>Vehicle Type:</dt>
    <dd>{{ vehicle.get_vehicle_type_display }}</dd>

    <dt>Vehicle Model:</dt>
    <dd>{{ vehicle.vehicle_model }}</dd>

    <dt>Vehicle Description:</dt>
    <dd>{{ vehicle.vehicle_description }}</dd>
</dl>
<a class = "options" href="{% url 'vehicle-update' vehicle.pk %}">Edit</a>
<a class = "options" href="{% url 'vehicle-delete' vehicle.pk %}">Delete</a>

{% endblock %}