{% extends 'base/base.html' %}

{% block content %}


<a href = "{% url 'vehicle-create' %}" class="options"> + Add Vehicle </a>
<div class="row-wrapper" >
    <div class="list-head">ID</div>
    <div class="list-head">NUMBER</div>
    <div class="list-head">MODEL</div>
    <div class="list-head">OPTIONS</div>
</div>
    {% for vehicle in vehicles %}
    <div class="row-wrapper">
        <div>{{ vehicle.id }}</div>
        <div>{{ vehicle }}</div>
        <div>{{ vehicle.vehicle_model }}</div>
        <div class="options-wrapper">
            <a href="{% url 'vehicle' vehicle.id %}" class="options">
                View
            </a>
            
            <a href="{% url 'vehicle-update' vehicle.id %}" class="options">
                Edit
            </a>

            <a  class="delete-link options" href="{% url 'vehicle-delete' vehicle.id %}">
                Delete
            </a>
        </div>
    </div>
    {% empty %}
    <p>No Vehicles here</p>
    {% endfor %}
</div>
{% endblock %}